.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.svz-pc-title-container{
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    background-color: #5757c3;
    border: 1px solid #fcfcfc;
    color: #fcfcfc;
    box-shadow: -1px 1px 2px #333;
    display: flex;
    justify-content: center;
    text-align: center;
}

#popup-container{
	overflow: hidden;
	width: 300px;
	min-height: 300px;
	.tab{
		width: 300px;
		position: absolute;
		transition: right 400ms linear;
		&.left{
			right: 100%;
		}
		&.active{
			position: relative;
			right: 0;
		}
		&.right{
			right: -100%;
		}
		>div{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}
	}
	.hideButton{
		position: absolute;
		top: 0;
		right: 0;
		height: 10px;
		width: 10px;
		margin: 5px;
	}
	&.hidden{
		width: 20px;
		height: 20px;
	}
}

.chat-container{
	.chat-content{
		overflow: hidden;
		.container{
			bottom:0;
			.sender, h2{
				font-weight: bold;
				color: #1a73e8;
			}
			.content{
				color: #333;
			}
		}
	}
	.chat-entry{
		display: flex;
		align-items: center;
	}
}